/* SCSS Syntax! */
@import url("../fonts/fonts.css");
/* Variables */
/* Patterns */
.low_header .new_post {
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  border-radius: 3px;
  vertical-align: middle;
  background-color: #eba335; }

.search-mini, .users_one span a, .users-mini, .low_header .main_menu li a:hover, .low_header .low_h {
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }

.search-mini, .users-mini, .low_header .new_post {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15); }

.main .left-col aside, .main .main-col .main-content, .social-share, .post-comments {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid rgba(90, 90, 90, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.1); }

/* JavaScript classes */
.downed {
  _display: block !important;
  opacity: 1 !important;
  max-height: 200px !important; }

/* Main code */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-sizing: border-box; }

html, body {
  background-color: #f0f0f0;
  min-width: 250px !important; }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none !important; }
  a:active {
    text-decoration: none !important; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.header {
  width: 100%; }

.high_header {
  height: 60px;
  background-color: #fff; }
  .high_header div {
    height: 60px;
    line-height: 60px; }

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }

.logo {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  cursor: pointer;
  text-decoration: none; }
  .logo span {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    line-height: 17px; }
  .logo-span {
    display: block;
    height: 18px;
    width: 130px;
    background-image: url("../common/logo.png");
    background-size: 100%;
    background-repeat: no-repeat; }
  .logo-text-span {
    display: block;
    font-size: 12px;
    color: #686868;
    margin-top: 5px; }
  .logo-container {
    width: 150px;
    margin: 0; }

.search {
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  width: 420px; }
  .search input, .search select {
    float: left; }
  .search input[type=text] {
    height: 40px;
    width: 275px;
    padding-left: 10px;
    border: 1px solid #b3b3b3;
    border-radius: 3px 0 0 3px;
    outline: none;
    line-height: 17px; }
  .search .select_wrap {
    float: left;
    width: 110px;
    height: 40px;
    overflow: hidden;
    background: url("../common/down.png") no-repeat right #ddd; }
  .search select {
    width: 130px;
    height: 40px;
    margin-left: -1px;
    border-color: #b3b3b3;
    border-left: 1px solid #cecece;
    outline: none;
    color: #686868;
    cursor: pointer; }
    .search select option {
      /* some... */ }
      .search select option:disabled {
        color: #000; }
  .search input[type=submit] {
    margin-left: -6px;
    width: 40px;
    height: 40px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #686868;
    background-color: #686868;
    background-image: url("../common/tool.png");
    background-repeat: no-repeat;
    background-position: center; }
  .search-container {
    width: 420px;
    margin: 0;
    margin-left: 70px; }
  .search-mini {
    display: none;
    cursor: pointer;
    margin-top: 10px;
    width: 40px;
    height: 40px !important;
    border-radius: 4px;
    background: url("../common/tool.png") no-repeat center #686868;
    border: 1px solid transparent; }
    .search-mini:hover {
      background-color: #727272; }

.mini-search {
  /*
	display:none;
	vertical-align:middle;
	width:30px;
	height:30px !important;
	border-radius:3px;
	border:1px solid $accent;
	background-color: $accent;
	background-image:url('../common/tool.png');
	background-repeat:no-repeat;
	background-position:center; */ }

.users div {
  float: right; }

.users_one {
  height: 34px !important;
  line-height: 17px !important;
  margin-left: 20px;
  margin-top: 13px; }
  .users_one .users_hello {
    color: #eba335; }
  .users_one span {
    /* some... */ }
    .users_one span a {
      color: #000; }
      .users_one span a:hover {
        color: #eba335; }

.users_two {
  background: url("../common/user.png") no-repeat center;
  width: 30px; }

.users-mini {
  cursor: pointer;
  margin-top: 10px;
  width: 40px;
  height: 40px !important;
  border-radius: 4px;
  background: url("../common/user_2.png") no-repeat center #686868;
  border: 1px solid transparent; }
  .users-mini:hover {
    background-color: #727272; }

.low_header {
  height: 50px;
  background-color: #2c9f52;
  line-height: 50px; }
  .low_header .main_menu {
    font-size: 0; }
    .low_header .main_menu li {
      display: inline-block;
      margin-right: 20px;
      background-color: #2c9f52; }
      .low_header .main_menu li a {
        display: block;
        color: white;
        width: 100%;
        height: 100%;
        padding: 0 5px; }
        .low_header .main_menu li a:hover {
          background-color: #30ac59; }
    .low_header .main_menu .mini-support {
      display: none; }
    .low_header .main_menu .mini-search {
      display: none; }
  .low_header .low_h {
    display: inline-block;
    float: right;
    margin-left: 45px;
    margin-right: 5px;
    color: #fff; }
  .low_header .new_post {
    margin-top: 10px;
    margin-left: 0; }
    .low_header .new_post:hover {
      background-color: #e39d33; }
  .low_header .support {
    /* some... */ }
    .low_header .support:before {
      content: '';
      width: 23px;
      height: 23px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      background: url("../common/support.png") no-repeat center; }
    .low_header .support:hover {
      color: #eba335; }
  .low_header .menu-container {
    background-color: #2c9f52;
    max-height: 50px;
    max-width: 420px; }
    .low_header .menu-container .menu-mini {
      display: none;
      width: 40px;
      height: 40px;
      background: url("../common/menu.png") no-repeat center transparent;
      margin-top: 5px;
      cursor: pointer; }
    .low_header .menu-container .menu_active {
      box-sizing: border-box;
      max-height: 50px;
      border-bottom: 5px solid #164f29; }

.main {
  /*some... */ }
  .main .left-col {
    margin-top: 30px;
    padding-left: 0 !important; }
    .main .left-col aside {
      padding: 5px;
      margin-bottom: 20px; }
      .main .left-col aside .side-list {
        /* some... */
        margin-top: 10px;
        margin-bottom: 5px;
        padding-left: 25px; }
        .main .left-col aside .side-list li {
          margin-bottom: 5px; }
          .main .left-col aside .side-list li a {
            font-weight: 500; }
          .main .left-col aside .side-list li span {
            display: block;
            font-size: 0.9em;
            color: #b3b3b3; }
      .main .left-col aside .art-list {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 8px;
        padding-right: 8px; }
        .main .left-col aside .art-list li {
          list-style: none;
          margin-bottom: 5px;
          border-bottom: 1px solid #b3b3b3; }
      .main .left-col aside h3 {
        margin-top: 5px;
        font-weight: 600;
        margin-left: 5px;
        font-size: 1.2em;
        color: #686868; }
        .main .left-col aside h3 span {
          color: #eba335;
          font-size: 1.0em; }
  .main .main-col {
    margin-top: 30px;
    padding-right: 0 !important; }
    .main .main-col .main-content {
      padding: 5px; }
      .main .main-col .main-content h1 {
        font-size: 1.3em;
        font-weight: 400;
        padding-top: 0;
        margin-top: 5px;
        color: #000;
        padding-bottom: 5px;
        padding-left: 15px; }
      .main .main-col .main-content .post-genres {
        padding-left: 15px;
        display: block;
        width: 100%;
        border-bottom: 1px solid #e9ebea;
        margin-bottom: 10px;
        padding-bottom: 5px; }
      .main .main-col .main-content ul.genre-list {
        width: 100%;
        font-size: 0; }
        .main .main-col .main-content ul.genre-list li {
          font-size: 1em;
          margin: 0 1% 15px 1%;
          padding: 10px 5px 15px 5px;
          display: inline-block;
          vertical-align: top;
          border-top: 3px solid #e9ebea;
          width: 46%;
          min-height: 225px;
          overflow: hidden; }
          .main .main-col .main-content ul.genre-list li h2 {
            margin-left: 10px;
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 15px; }
          .main .main-col .main-content ul.genre-list li ul.product-list {
            margin-left: 20px; }
            .main .main-col .main-content ul.genre-list li ul.product-list li {
              padding: 0;
              min-height: inherit;
              display: block;
              margin-bottom: 5px;
              border: none;
              height: auto;
              width: 100%; }
              .main .main-col .main-content ul.genre-list li ul.product-list li a {
                font-weight: 500; }
              .main .main-col .main-content ul.genre-list li ul.product-list li span {
                display: block;
                font-size: 0.9em;
                color: #686868; }
            .main .main-col .main-content ul.genre-list li ul.product-list .more {
              text-decoration: underline;
              margin-top: 10px; }

footer {
  margin-top: 20px; }
  footer .high_footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dbdbdb; }
    footer .high_footer span {
      display: block; }
    footer .high_footer .num {
      font-size: 24px;
      font-weight: 600; }
    footer .high_footer .desc {
      font-size: 1em;
      font-weight: 400; }
    footer .high_footer ul.social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      height: 60px;
      line-height: 60px; }
      footer .high_footer ul.social li {
        list-style: none;
        display: inline-block;
        vertical-align: middle; }
        footer .high_footer ul.social li a {
          font-size: 2em;
          color: #eba335; }
  footer .low_footer {
    background-color: #1b2f3f;
    padding-top: 10px;
    padding-bottom: 10px; }
    footer .low_footer span {
      color: #fff;
      font-weight: 300;
      font-size: 0.9em; }

/* One post */
.post-title {
  margin-bottom: 5px !important; }

.post-img {
  width: 100%;
  padding: 5px;
  margin-bottom: 30px; }
  .post-img img {
    width: 100%;
    height: auto; }

.text-body {
  padding: 0 15px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin-bottom: 20px; }
  .text-body p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-bottom: 7px;
    text-indent: 25px; }

.date-author {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9ebea; }
  .date-author span.big-span {
    font-size: 1.1em !important;
    font-weight: 600; }
    .date-author span.big-span a, .date-author span.big-span span {
      font-size: 1em; }

.rating-date {
  margin-bottom: 15px; }
  .rating-date .rating {
    float: left;
    margin-left: 15px; }
    .rating-date .rating span {
      color: #eba335; }
  .rating-date .date {
    float: right;
    margin-right: 15px; }
    .rating-date .date span {
      color: #686868; }

.social-share {
  margin-top: 20px;
  padding: 5px;
  font-size: 0.8em;
  color: #b3b3b3; }

.post-comments {
  margin-top: 20px;
  padding: 5px;
  font-size: 0.8em;
  color: #b3b3b3; }

ul.post-list li.post-item {
  display: block;
  font-size: 0;
  border-bottom: 1px solid #e9ebea;
  padding-bottom: 5px; }
  ul.post-list li.post-item div {
    font-size: inherit;
    display: inline-block;
    vertical-align: top; }
    ul.post-list li.post-item div span {
      display: block; }
  ul.post-list li.post-item .post-info {
    width: 70%;
    padding-left: 15px; }
    ul.post-list li.post-item .post-info .post-title-item a {
      font-size: 1.2em; }
    ul.post-list li.post-item .post-info .post-author {
      font-weight: 500; }
      ul.post-list li.post-item .post-info .post-author a.post-real-name {
        color: #000;
        font-weight: 400; }
        ul.post-list li.post-item .post-info .post-author a.post-real-name:hover {
          opacity: 0.9; }
      ul.post-list li.post-item .post-info .post-author a.post-name {
        font-size: 0.9em;
        font-weight: 400;
        color: #b3b3b3; }
        ul.post-list li.post-item .post-info .post-author a.post-name:hover {
          opacity: 0.9; }
    ul.post-list li.post-item .post-info .rating {
      margin-top: 10px;
      font-size: 14px; }
      ul.post-list li.post-item .post-info .rating b {
        color: #eba335; }
  ul.post-list li.post-item .post-img {
    width: 30%;
    margin-bottom: 0;
    padding: 0 5px 5px 5px; }
